artifacts/**
build/**
.DS_Store
.npmrc
.npmignore
.git
.gitignore
.gitlab-ci.yml
Scripts
Scripts.meta
Scenes
Scenes.meta
build.bat
build.sh
FUNDING.yml
FUNDING.yml.meta
contributers.md
contributers.md.meta
Tests
Tests.meta
.asset
README.md
